name: Executar Script de Logs

on:
  push:      # roda sempre que você enviar algo para o repositório
  workflow_dispatch:  # permite rodar manualmente no botão "Run workflow"

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar repositório
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Executar script
        run: python script_logs.py
